// Import theme file firstly
@import "../../assets/scss/theme";

// Redefine default component's variables you want to change
$st-icon-width: 22px;
$st-icon-height: 22px;
$st-button-default-fill: #4163fb;
$st-color-mantis: #4163fb;

// Import default component's file with styles
@import "../../../../components/button/style";

// Add new style things if you want to
@include b('button') {
  // New properties here
  height: 42px;
  color: $st-color-white;
  border-radius: 21px;
  border-color: $st-button-default-fill;

  &:hover,
  &:focus {
    color: $st-color-white;
    border-color: mix($st-color-black, $st-button-default-fill, $st-button-active-shade-percent);
    background-color: mix($st-color-black, $st-button-default-fill, $st-button-active-shade-percent);
  } 

  &:disabled {
    color: $st-color-white;

    &:hover {
      color: $st-color-white;
    }
  }

  &.st-button--plain {
    color: $st-button-default-fill;
    background-color: $st-color-white;
    border-color: $st-button-default-fill;

    &.st-button--disabled {
      opacity: 0.6;
      color: $st-button-default-fill;
      background-color: $st-color-white;
      border-color: $st-button-default-fill;

      &:hover {
        color: $st-button-default-fill;
        background-color: $st-color-white;
        border-color: $st-button-default-fill;
      }
    }
  }

  &.st-button--small {
    height: 32px;
    padding: 5px 15px;
    min-width: 90px;
  }

}